.footer#footer
    .footer__content.container
        .footer__venues-contacts 
            .footer__venue-contact
                h2.footer__venue-contact-tittle.footer__tittle Fabrica
                .footer__venue-contact-links.footer__links
                    a(class="footer__venue-contact-link footer__link" href="")
                        <svg class="footer__venue-contact-icon"><use href="galery/icon/icons.svg#whatsapp-icon"/></svg>
                        p 3122082190
                    a(class="footer__venue-contact-link footer__link" href="")
                        <svg class="footer__venue-contact-icon"><use href="galery/icon/icons.svg#phone-icon"/></svg>
                        p 3122082190
            .footer__venue-contact
                h2.footer__venue-contact-tittle.footer__tittle Almacen
                .footer__venue-contact-links.footer__links
                    a(class="footer__venue-contact-link footer__link" href="")
                        <svg class="footer__venue-contact-icon"><use href="galery/icon/icons.svg#whatsapp-icon"/></svg>
                        p 3122082190
                    a(class="footer__venue-contact-link footer__link" href="")
                        <svg class="footer__venue-contact-icon"><use href="galery/icon/icons.svg#phone-icon"/></svg>
                        p 3122082190


        .footer__contacts
            h2.footer__contacts-tittle.footer__tittle Siguenos en redes
            .footer__contacts-links.footer__links
                a(class="footer__contact-link footer__link" href="")
                    <svg class="footer__contact-icon footer__contact-icon--instagram"><use href="galery/icon/icons.svg#instagram-icon"/></svg>
                    p.footer__contact-text
                //- a(class="footer__contact-link" href="")
                //-     <svg class="footer__contact-icon footer__contact-icon--whatsapp"><use href="galery/icon/icons.svg#whatsapp-icon"/></svg>
                //-     p.footer__contact-text Whatsapp
                a(class="footer__contact-link footer__link" href="")
                    <svg class="footer__contact-icon footer__contact-icon--facebook"><use href="galery/icon/icons.svg#facebook-icon"/></svg>
                    p.footer__contact-text

        .footer__mail 
            h2.footer__tittle.foooter__mail-tittle Escribenos al correo 
            a(class="footer__mail-link footer__link")
                span(class="material-icons-round") mail
                p.footer__mail-link-text julioforrospereria@gmail.com


