.footer
    .footer__contacts
        a(href="")
            <svg class="footer__contact-icon footer__contact-icon--instagram"><use href="galery/icon/icons.svg#instagram-icon"/></svg>
        a(href="")
            <svg class="footer__contact-icon footer__contact-icon--whatsapp"><use href="galery/icon/icons.svg#whatsapp-icon"/></svg>
        a(href="")
            <svg class="footer__contact-icon footer__contact-icon--facebook"><use href="galery/icon/icons.svg#facebook-icon"/></svg>
            //- img(src="galery/icon/instagram.svg", alt="enlace hacia instagram" class="footer__contact-icon footer__contact-icon--instagram")
            //- img(src="galery/icon/whatsapp.svg", alt="enlace hacia whatsapp" class="footer__contact-icon footer__contact-icon--whatsapp")
            //- img(src="galery/icon/facebook.svg", alt="enlace hacia facebook" class="footer__contact-icon footer__contact-icon--facebook")