.footer#footer
    .footer__contacts
        a(class="footer__contact-link" href="")
            <svg class="footer__contact-icon footer__contact-icon--instagram"><use href="galery/icon/icons.svg#instagram-icon"/></svg>
            p.footer__contact-text Instagram
        a(class="footer__contact-link" href="")
            <svg class="footer__contact-icon footer__contact-icon--whatsapp"><use href="galery/icon/icons.svg#whatsapp-icon"/></svg>
            p.footer__contact-text Whatsapp
        a(class="footer__contact-link" href="")
            <svg class="footer__contact-icon footer__contact-icon--facebook"><use href="galery/icon/icons.svg#facebook-icon"/></svg>
            p.footer__contact-text Facebook
