.search-bar
    input(class="search-bar__input" type="search" name="search-bar" placeholder="Estoy buscando...")
    a(href="#" class="search-bar__button")
        span(class="material-icons-round search-bar__button-icon"   ) search
