//- pug -w --pretty src/pug/pages/*.pug -o ./public -p ./src/pug/templates
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        title Julio Forros
        meta(name="description" content="Fabrica de accesorios para motocicletas")
        meta(name="author" content="Daniel Botero Arias y Davier Botero Arias")

        //- STUB INDEXAR LOS BUSCADORES | no es necesario si esta en index
        meta(name="robots" content="index, follow") 

        //- STUB FAVICON | 64 x 64 recomendado
        link(rel="shortcut icon" href="../favicon/favicon.svg" type="image/x-icon")
        link(rel="icon" href="../favicon/favicon.svg" type="image/x-icon")

        //- STUB LEAFLET.JS mapa
        //- link(rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css")

        
        //- STUB ESTILOS CSS
        link(rel="stylesheet" type="text/css" href="css/styles.css")

        //- STUB FUENTES DE GOOGLE
        link(href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet")

        //- STUB SOCIAL CARDS
        meta(property="og:url" content="http://www.julioforros.com")
        meta(property="og:type" content="website")
        meta(property="og:title" content="Julio Forros")
        meta(property="og:description" content="Fabrica de accesorios para motocicletas")
        meta(property="og:image" content="http://www.blackparadox.com/images/logo.svg")




    body#body
        //- include ../blocks/menu.pug
        header.header
            include ../blocks/navbar-header.pug
            block header

        main.main
            block main
            include ../blocks/js.pug
            footer

        
        footer.footer#footer
            block footer
