.body {
    background-color: var(--background);
    $vector-height: 72px;
    .header{
        .header-index {
            @include min-width-landscape(500px) {
                height: calc(100vh + $vector-height - $navbar-header-heihgt);
            }
            height: calc(100vh - $navbar-header-heihgt) ;
            overflow: visible;
            position: relative;
            padding-bottom: calc($vector-height - var(--space-6));

            @include min-width-landscape(500px) {
                padding-bottom: calc($vector-height + var(--space-6));
            }

            .slider-header {
                height: 100%;

                .slider-header__container {
                    width: 100%;

                    .slider-header__content {
                        .slider-header__slide {
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            .slider-header__slide-content{
                                max-height: 100%;
                                display: grid;
                                grid-template-columns: auto;
                                grid-template-rows: max-content minmax(100px, 1fr) max-content;
                                padding: var(--space-5) 0;
                                gap: var(--space-6);
                                justify-content: center;
    
                                @include min-width-landscape(500px) {
                                    grid-template-columns: min-content auto;
                                    grid-template-rows: 1fr auto auto 2fr;
                                }
    
                                .slider-header__button-container {
                                    justify-self: center;
    
                                    @include min-width-landscape(500px) {
                                        grid-column: 1 / 2;
                                        grid-row: 3 / 4;
                                    }
                                }
    
                                .slider-header__tittle-container {
                                    text-align: center;
    
                                    @include min-width-landscape(500px) {
                                        grid-column: 1 / 2;
                                        grid-row: 2 / 3;
                                    }
    
                                    .slider-header__tittle {
                                        margin-bottom: 0;
                                        color: var(--text);
                                    }
                                }
    
                                .slider-header__img-container {
                                    justify-self: center;
                                    @extend .border-radius;
    
                                    @include min-width-landscape(500px) {
                                        grid-column: 2 / 3;
                                        grid-row: 1 / 5;
                                        margin-left: var(--space-3);
                                    }
    
                                    .slider-header__img {
                                        width: 100%;
                                        height: 100%;
                                        object-fit: contain;
                                        object-position: center;
                                    }
                                }    
                            }
                        }
                    }

                    .slider-header__swiper-pagination {
                        position: relative;
                        bottom: 0px;
                    }

                    .swiper-pagination {
                        .swiper-pagination-bullet {
                            background-color: var(--text);
                            opacity: .5;
                        }

                        .swiper-pagination-bullet-active {
                            background-color: var(--color2) !important;
                            opacity: 1;
                        }
                    }
                }
            }

            .vector {
                position: absolute;
                bottom: -1px;
                left: 0;
                right: 0;

                .vector__svg {
                    width: 100%;
                    max-height: 72px;
                    filter: drop-shadow(0px -7px 0px rgb(112, 109, 109));
                    path{
                        fill: var(--vector-header);
                    }
                }
            }

        }

    }
    

    .main {
        position: relative;

        .index-catalog {
            .index-catalog__background {
                background-color: var(--dark-gray);

                .index-catalog__container {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding-top: var(--space-6);
                    padding-bottom: var(--space-6);
                    gap: var(--space-5);

                    .index-catalog__products-container {
                        display: flex;
                        justify-content: center;
                        gap: 36px;

                        .index-catalog__products-pictures {
                            display: grid;
                            grid-template-columns: minmax(0, 350px);
                            gap: var(--space-6);

                            @include min-width($mobile-landscape) {
                                grid-template-columns: repeat(2, minmax(0, 380px));
                            }

                            .index-catalog__product-picture-container {
                                min-height: 136px;
                                height: 136px;
                                max-height: 200px;
                                overflow: hidden;
                                background-color: var(--ligth-gray);
                                cursor: pointer;
                                position: relative;
                                @extend .border-radius;

                                &::before {
                                    content: attr(data-name-product);
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    right: 0;
                                    bottom: 0;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    text-align: center;
                                    transition: opacity .5s ease;
                                    background-color: rgba(0, 0, 0, .6);
                                    color: var(--white);
                                    z-index: $z-index-1;
                                    font-family: 'roboto-black';
                                    @extend .h2;
                                    line-height: 1.1;
                                    padding: var(--space-1);
                                }

                                &:hover {
                                    .index-catalog__product-picture {
                                        transform: scale(1.1);
                                    }

                                    &::before {
                                        opacity: 0;
                                    }
                                }

                                @include min-height-min-width(360px, 360px) {
                                    height: 170px;
                                }

                                @include min-width($tablet) {
                                    height: 200px;
                                }

                                .index-catalog__product-picture {
                                    transition: transform .3s ease;
                                    object-fit: cover;
                                    height: 100%;
                                    width: 100%;
                                    position: relative;
                                }
                            }
                        }

                        .index-catalog__products-list-container {
                            flex-direction: column;
                            align-items: center;
                            justify-content: space-between;
                            gap: var(--space-6);
                            min-width: 311px;
                            height: 424px;
                            padding: var(--space-6);
                            background-color: var(--background);
                            @extend .border-radius;
                            display: none;

                            @include min-width(1280px) {
                                display: flex;
                            }

                            .index-catalog__products-list {
                                overflow-y: scroll;
                                height: 100%;
                                width: 100%;
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;
                                flex-direction: column;
                                gap: 8px;

                                .index-catalog__product-list {
                                    font-weight: 500;
                                    @extend .button-effect;
                                }

                                @extend .scrollbar-style;

                                &::-webkit-scrollbar {
                                    width: 6px;
                                }

                                &::-webkit-scrollbar-thumb {
                                    background-color: var(--color-claro);
                                }

                            }
                        }
                    }

                    .index-catalog__button {
                        @include desktop {
                            display: none;
                        }
                    }

                }

            }

            .vector-rotate-horizontally {
                .vector-rotate-horizontally__svg {
                    width: 100%;
                    max-height: $vector-height;
                    position: relative;
                    top: -1;
                    transform: scaleY(-1);
                    filter: drop-shadow(0px -7px 0px rgb(112, 109, 109));
                    path{
                        fill: var(--vector-header);
                    }

                }
            }
        }

        .functionalities-and-contact-us-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: var(--space-1);

            @include desktop {
                flex-direction: row-reverse;
                justify-content: space-between;
                align-items: center;
            }

            .index-contact-us {
                margin: 0 auto;
                display: inline-grid;
                width: min-content;
                height: min-content;
                grid-template-columns: min-content min-content;
                grid-template-rows: min-content min-content;
                gap: 16px 32px;

                @include desktop {
                    gap: 16px;
                    grid-template-columns: min-content;
                    grid-template-rows: repeat(3, min-content);

                }

                .index-contact-us__paragraph {
                    font-family: 'poppins-semibold'Arial, sans-serif;
                    font-size: 24px;

                    @include desktop {
                        grid-column: 1 / 2;
                        grid-row: 2 / 3;
                    }

                    grid-column: 1 / 2;
                    grid-row: 1 / 2;
                    align-self: center;
                }

                .index-contact-us__icon {
                    justify-self: center;
                    font-size: 72px;

                    @include desktop {
                        grid-column: 1 / 2;
                        grid-row: 1 / 2;
                    }

                    grid-column: 2 / 3;
                    grid-row: 1 / 2;
                    color: var(--ligth-gray);

                }

                .index-contact-us__button {
                    justify-self: center;
                    width: max-content;

                    @include desktop {
                        grid-column: 1 / 2;
                        grid-row: 3 / 4;
                    }

                    grid-column: span 2;
                    grid-row: 2 / 3;

                }
            }

            .functionalities {
                margin: 0 auto;
                display: flex;
                flex-direction: column;

                .functionalities__cards {
                    display: inline-flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    gap: var(--space-6);
                    height: min-content;

                    .functionalities__functionality {
                        min-width: 200px;
                        max-width: 280px;
                        display: flex;
                        flex: 1;
                        flex-direction: column;
                        align-items: flex-end;
                        gap: 1rem;
                        @extend .border-shadow-left, .padding, .border-radius;
                        .functionalities__button {
                            &::before {
                                @extend .pseudo-icon;
                                display: inline-block;
                                height: 100%;
                                font-size: 18px;
                            }
                        }

                        .functionalities__button--catalog {
                            &::before{
                                content: "\e3b6";
                            }
                            
                        }

                        .functionalities__button--order {
                            &::before{
                                content: "\e179";
                            }
                            
                        }

                        .functionalities__button--cart {
                            &::before{
                                content: "\e8cc";
                            }
                            
                        }
                    }
                }
            }
        }

        .index-search {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;


            .index-search__paragraph {
                text-align: center;
            }


        }

        .slider-index-main {
            height: min-content;
            background-color: var(--dark-gray);
            padding-top: var(--space-3);
            padding-bottom: var(--space-4);

            .slider-index-main__container {
                .slider-index-main__content {
                    .slider-index-main__slide {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        gap: var(--space-6);
                        min-width: min-content;
                        width: calc(100% / 2);

                        @include max-width(380px) {
                            min-width: 100%;

                        }

                        @include min-width(1150px) {
                            width: calc((100% / 3) - 30px);
                        }

                        margin-bottom: var(--space-2);

                        .slider-index-main__tittle {
                            color: var(--white);
                            margin-bottom: 0;
                            text-align: center;

                            @include min-width(768px) {
                                font-size: 44px;
                            }
                        }
                    }
                }

                .slider-index-main__swiper-pagination {
                    display: relative;
                    bottom: 0;
                    color: var(--white);
                }
            }
        }

        .about-us {
            display: flex;
            flex-direction: column;
            align-items: center;

            .about-us__content {
                max-width: 890px;
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                gap: var(--space-4);

                .about-us__company {
                    width: min-content;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    flex: 1;
                    gap: var(--space-6);
                    text-align: center;

                    .about-us__logo {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: var(--space-7);
                        .about-us__logotipo-container {
                            height: 3rem;
                            width: 220px;

                            .about-us__logotipo {
                                fill: var(--text);
                                height: 100%;
                                width: 100%;
                            }
                        }

                        .about-us__isotipo-container {
                            height: 160px;
                            width: 200px;

                            .about-us__isotipo {
                                height: 100%;
                                width: 100%;
                                fill: var(--color1);

                            }
                        }
                    }
                }

                .about-us__venues {
                    flex: 1.1;
                    display: flex;
                    flex-direction: column;
                    gap: var(--space-5);

                    .about-us__venue {
                        min-width: 200px;
                        display: flex;
                        flex-direction: column;
                        gap: var(--space-6);
                        padding: 1rem 1rem 1rem 2rem;
                        @extend .border-shadow-left, .border-radius;

                        .about-us__venue-tittle {
                            color: var(--text);
                        }
                    }
                }
            }

            .about-us__button {
                width: 100%;
                margin-left: auto;
                margin-right: auto;
                margin-top: var(--space-3);
            }

        }

        .visit-us {
            .visit-us__venues {
                margin-left: auto;
                margin-right: auto;
                display: grid;
                gap: var(--space-4);
                max-width: 890px;

                .visit-us__venue {
                    display: flex;
                    flex-direction: column;
                    gap: var(--space-6);

                    @include min-width(500px) {
                        flex-direction: row;
                    }

                    .visit-us__venue-map {
                        @extend .border-radius;
                        height: 100%;
                        width: 100%;
                    }

                    .visit-us__description {
                        display: flex;
                        flex-direction: row;
                        gap: var(--space-6);

                        @include min-width(500px) {
                            flex-direction: column;
                        }

                        .visit-us__venue-img {
                            min-width: 115px;
                            max-width: 115px;
                            height: 115px;
                            @extend .border-radius;
                        }

                        .visit-us__venue-text {
                            display: flex;
                            flex-direction: column;
                            gap: var(--space-7);
                            height: min-content;

                            .visit-us__venue-tittle {
                                color: var(--text);
                            }

                            .visit-us__venue-paragraph {
                                @extend .p-small;

                                @include max-width(315px) {
                                    display: none;
                                }
                            }

                            .visit-us__venue-address {
                                &::before {
                                    @extend .pseudo-icon;
                                    content: "\e0c8";
                                    color: var(--color1);
                                }
                            }
                        }
                    }



                }
            }
        }

    }
}