.body{
    $vector-height: 72px;
    .header{
        height: 100vh;
        padding-top: $navbar-header-heihgt;
        @include min-width-landscape(500px){
            min-height: calc(100vh + $vector-height);
        }
        .header-index{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            position: relative;
            padding-bottom: calc($vector-height - $space-6);
            @include min-width-landscape(500px){
                padding-bottom: calc($vector-height + $space-6);
            }
            .slider-header{
                height: 100%;
                display: flex;
                .slider-header__container{
                    display: flex;
                    height: 100%;
                    flex-direction: column;
                    gap: $space-5;
                    @include min-width-landscape(500px){
                        width: 70%;
                    }
                    .slider-header__content{
                        .slider-header__slide{
                            display: grid;
                            grid-template-columns: auto;
                            grid-template-rows: min-content 1fr min-content;
                            padding-top: $space-5;
                            gap: $space-6; 
                            @include min-width-landscape(500px){
                                grid-template-columns: min-content auto;
                                grid-template-rows: 1fr auto auto 2fr;
                            }
                            .slider-header__button-container{
                                margin-left: auto;
                                margin-right: auto;
                                @include min-width-landscape(500px){
                                    grid-column: 1 / 2;
                                    grid-row: 3 / 4;    
                                } 
                            }

                            .slider-header__tittle-container{
                                text-align: center;
                                @include min-width-landscape(500px){
                                    grid-column: 1 / 2;
                                    grid-row: 2 / 3;    
                                }
                                .slider-header__tittle{
                                    color: $text;
                                }
                            }

                            .slider-header__img-container{
                                @include min-width-landscape(500px){
                                    grid-column: 2 / 3;
                                    grid-row: 1 / 5;
                                }
                                .slider-header__img{
                                    height: 100%;
                                    object-fit: cover;
                                    object-position: center;
                                }
                            }
                        }
                    }
                    .swiper-pagination {
                        position: relative;
                        bottom: 0px;
                    }
                }
            }
            .vector {
                position: absolute;
                bottom: -1px;
                left: 0;
                right: 0;
                .vector__svg {
                    width: 100%;
                    max-height: 72px;
                    filter: drop-shadow(0px -7px 0px rgb(112, 109, 109));
                }
            }
    
        }
    }
    .main{
        background-color: white;
        position: relative;
        .index-catalog{
            background-color: $dark-gray ;
            .index-catalog__container{
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-top: $space-6;
                padding-bottom: $space-6;
                gap: $space-5;
                .index-catalog__products-container{
                    display: flex;
                    gap: 36px;
                    .index-catalog__products-pictures{
                        display: grid;
                        width: 100%;
                        grid-template-columns: 1fr;
                        gap: $space-6;
                        @include min-width($tablet){
                            gap: 22px;
                        }
                        @include min-width($mobile-landscape){
                            grid-template-columns: 1fr 1fr;
                        }
                        .index-catalog__product-picture{
                            width: 100%;
                            min-height: 136px;
                            @include min-height-min-width(360px, 360px){
                                height: 170px;
                            }
                            @include min-width($tablet){
                                height: 200px;
                            }
    
                            background-color: $ligth-gray;
                            border-radius: 16px;
                        }
                    }
                    .index-catalog__products-list-container{
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-between;
                        gap: $space-6;
                        min-width: 311px;
                        height: 424px;
                        padding: 1rem;
                        background-color: $background;
                        border-radius: 1rem;
                        display: none;
                        @include desktop{
                            display: flex;
                        }
                        .index-catalog__products-list{
                            overflow-y: scroll;
                            height: 100%;
                            width: 100%;
                            background-color: white;
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            flex-direction: column;
                            gap: 8px;
                            .index-catalog__product-list{
                                font-weight: 500;
                                @extend .button-effect;
                            }
                            @extend .scrollbar-style;
                            &::-webkit-scrollbar {
                                width: 6px;
                            }
                                                
                        }
                    }
                }
                .index-catalog__button{
                    margin-right: auto;
                    margin-left: auto;
                    @include desktop{
                        display: none;
                    }
                }
                
            }
        }
        .vector-rotate-horizontally{
            .vector-rotate-horizontally__svg{
                width: 100%;
                max-height: $vector-height;
                position: relative;
                top: -1;
                transform: scaleY(-1);
                filter: drop-shadow(0px -7px 0px rgb(112, 109, 109));

            }
        }
    }
}