@media (prefers-color-scheme: dark) {
    .body{
        --color-secundary: #E55A36;
        --color-background: #16222C;
        --color-dark-neutral: #1A2A37;
        --color-text: #FEFEFE;
        --color-logo: #FEFEFE;
        --color-header-vector: #1A2A37;
        --color-navbar-icons: #a8a8a8;
        --color-search-bar: #1A2A37;
        --color-light-neutral: #5a6772; 

        }
    .light-mode{
        --color-background: #FEFEFE;
        --color-primary: #F1623F;
        --color-primary-hover: #EE3F14;
        --color-primary-active: #E33A11;
        --color-primary-disable: #F37A5C;
        --color-secundary: #E54A23;
        --color-primary-light: rgba(243, 122, 92, .8);
        --color-white: #FEFEFE;
        --color-text: #020202;
        --color-navbar-icons: #4F4F4F;
        --color-dark-neutral: #2C2C2C;
        --color-light-neutral: #4F4F4F;
        --color-navbar-icons: #4F4F4F;
        --color-footer-icons: #FEFEFE;
        --color-logo: #444;
        --color-header-vector: #2C2C2C;
        --color-search-bar: #FEFEFE;
    
    }
}