.search-bar {
    max-width: 566px;
    width: 100%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-top: var(--space-6);
    @extend .border-shadow;
    background-color: var(--color-search-bar);

    .search-bar__input {
        width: 100%;
        line-height: 40px;
        border: none;
        padding-left: 1rem;
        outline: none;
        color: var(--color-secundary);
        background-color: transparent;

        &::placeholder {
            color: var(--color-secundary);
            opacity: 1;
        }

        &:focus+.search-bar__button {
            background: var(--color-primary);
            color: var(--color-white);
            pointer-events: visible;

            &:hover {
                background-color: var(--color-primary-hover);

                .search-bar__button-icon {
                    font-size: 25px;
                }
            }
        }
    }

    .search-bar__button {
        pointer-events: none;
        height: 40px;
        width: 56px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--color-primary);
        transition: color .3s ease-in, background-color .3s ease-in;

        .search-bar__button-icon {
            transition: font-size .3s ease-in;
            color: inherit;
            font-size: 24px;
        }
    }
}
