:root{
    --column: 1.2;
    --row: 3;
    @include min-width-portrait(310px){
        --column: 1.4;
    }
    @include max-height-landscape(500px){
        --column: 2.7;
        --row: 1;
    }
    @include min-width-portrait(700px){
        --column: 2.5;
        --row: 2;
    }
    @include min-height-landscape(500px){
        --column: 3.5;
        --row: 2;
    }
}
.grid-slider{
    background-color: aqua;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-5);
    padding: var(--space-5) 0;
    .grid-slider__slides{
        background-color: red;
        scroll-behavior: smooth;
        overflow-x: scroll;
        @extend .scrollbar-none;
        scroll-snap-type: x mandatory;
        // scroll-snap-type: x proximity;
        display: grid;
        grid-auto-columns: calc((100%  - ((var(--column) * var(--space-6) - var(--space-6)))) / var(--column));
        gap: var(--space-6);
        grid-template-rows: repeat(var(--row), auto);
        grid-auto-flow: column;
        padding-bottom: var(--space-6);
        .grid-slider__slide{
            scroll-snap-align: center;
            scroll-snap-align: start;
        }
    }
}
.grid-slider__navegation{
    display: grid;
    grid-auto-flow: column;
    gap: var(--space-7);
    align-items: center;
    .grid-slider__navegation-button{
        transition: transform .3s ease;
        cursor: pointer;
        &::before{
            border-radius: 50%;
            padding: 8px;
            box-shadow: 0 0 10px rgba(17, 17, 17, 0.25);
            @extend .pseudo-icon;
            color: var(--color-primary-500);
            font-size: 32px;
        }
        &:hover{
            transform: scale(1.1);
            &::before{
                color: #fff;
                background-color: var(--color-primary-500);
            }

        }
    }
    .grid-slider__navegation-button--back{
        &::before{
            content: "\e5e0";
        }
    }
    .grid-slider__navegation-button--next{
        &::before{
            content: "\e5e1";
        }
        
    }    
    
}
