extends ./templates/template.pug
block head
    link(rel="stylesheet" type="text/css" href="https://unpkg.com/swiper@7/swiper-bundle.min.css")
block header
    //- .header-index
        

            
   
    


block main
    .main
        .seccion-catalog-index
            .slider-catalogue-index.container
                .slider-catalogue-index__slider.grid-slider
                    .slider-catalogue-index__slides.grid-slider__slides#grid-slider__slides
                        .slider-catalogue-index__slide.grid-slider__slide
                            img(src="./galery/images/forros.webp", alt="")
                        .slider-catalogue-index__slide.grid-slider__slide
                            img(src="./galery/images/forros.webp", alt="")
                        .slider-catalogue-index__slide.grid-slider__slide
                            img(src="./galery/images/forros.webp", alt="")
                        .slider-catalogue-index__slide.grid-slider__slide
                            img(src="./galery/images/forros.webp", alt="")
                        .slider-catalogue-index__slide.grid-slider__slide
                            img(src="./galery/images/forros.webp", alt="")
                        .slider-catalogue-index__slide.grid-slider__slide
                            img(src="./galery/images/forros.webp", alt="")
                        .slider-catalogue-index__slide.grid-slider__slide
                            img(src="./galery/images/forros.webp", alt="")
                        .slider-catalogue-index__slide.grid-slider__slide
                            img(src="./galery/images/forros.webp", alt="")
                        .slider-catalogue-index__slide.grid-slider__slide
                            img(src="./galery/images/forros.webp", alt="")
                        .slider-catalogue-index__slide.grid-slider__slide
                            img(src="./galery/images/forros.webp", alt="")
                        .slider-catalogue-index__slide.grid-slider__slide
                            img(src="./galery/images/forros.webp", alt="")
                        .slider-catalogue-index__slide.grid-slider__slide
                            img(src="./galery/images/forros.webp", alt="")
                        .slider-catalogue-index__slide.grid-slider__slide
                            img(src="./galery/images/forros.webp", alt="")
                        .slider-catalogue-index__slide.grid-slider__slide
                            img(src="./galery/images/forros.webp", alt="")
                    .slider-catalogue-index__buttons
                        .slider-catalogue-index__navegation.grid-slider__navegation
                            button.mybtn.mybtn--outline.grid-slider__navegation-button#grid-slider__back-button 
                            button.mybtn.mybtn--outline.grid-slider__navegation-button#grid-slider__next-button 
                        button.mybtn Catalogo

    script(src="https://unpkg.com/swiper@7/swiper-bundle.min.js") 
    







