extends ./templates/template.pug
block head
    //- link(rel="stylesheet" type="text/css" href="https://unpkg.com/swiper@7/swiper-bundle.min.css")
block header
    .header-index
        //- .slider-header-index-container.container
        //-     .slider-header-index.default-slider#default-slider
        //-         .slider-header-index__slides.default-slider__slides#default-slider__slides
        //-             .slider-header-index-slide.default-slider__slide
        //-                 .slider-header-index__slide-contents.default-slider__slide-contents
        //-                     h2.h1.slider-header-index__tittle Asiento Para Moto DT Personalizado
        //-                     .slider-header-index__container-img
        //-                         img(loading="lazy" class="slider-header-index__img default-slider__img" src="./galery/images/slider-header/slider-header-1.webp", alt="")
        //-                     button.slider-header-index__button.mybtn Ver más
        //-             .slider-header-index-slide.default-slider__slide
        //-                 .slider-header-index__slide-contents.default-slider__slide-contents
        //-                     h2.h1.slider-header-index__tittle Asiento Para Moto DT Personalizado
        //-                     .slider-header-index__container-img
        //-                         img(loading="lazy" class="slider-header-index__img default-slider__img" src="./galery/images/slider-header/slider-header-1.webp", alt="")
        //-                     button.slider-header-index__button.mybtn Ver más
        //-         .slider-header-index__navegation.default-slider__navegation
        //-             .slider-header-index__navegation-button.slider-header-index__navegation-button--back.default-slider__navegation-button.default-slider__navegation-button--back#default-slider__back-button
        //-             .slider-header-index__navegation-button.slider-header-index__navegation-button--next.default-slider__navegation-button.default-slider__navegation-button--next#default-slider__next-button
   
        .vector-curve
            <svg class="vector-curve__svg" preserveAspectRatio="none" viewBox="0 0 1366 308" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0 41.2667L0 307.35H1366V41.2668C1183.14 144.069 944.309 206.304 683 206.304C421.691 206.304 182.857 144.069 0 41.2667Z" fill="#2C2C2C"/>
            </svg>

        

            
    


block main
    .main
        .seccion-catalogue-index
            .slider-catalogue-index.container
                .slider-catalogue-index__slider.my-slider#my-slider
                    .slider-catalogue-index__container-slides.my-slider__container-slides
                        .slider-catalogue-index__slides.my-slider__slides
                            div(class="slider-catalogue-index__slide my-slider__slide" data-name-product="Forros")
                                img(loading="lazy" class="slider-catalogue-index__img" src="./galery/images/400/categories/forros.webp", alt="")
                                div(class="slider-catalogue-index__description")
                                    h4.slider-catalogue-index__name-product Forros
                                    a(class="slider-catalogue-index__button my-slider__event-none") Ver
                            div(class="slider-catalogue-index__slide my-slider__slide" data-name-product="Asientos")
                                img(loading="lazy" class="slider-catalogue-index__img" src="./galery/images/400/categories/asientos.webp", alt="")
                                div(class="slider-catalogue-index__description")
                                    h4.slider-catalogue-index__name-product Asientos
                                    a(class="slider-catalogue-index__button my-slider__event-none") Ver
                            div(class="slider-catalogue-index__slide my-slider__slide" data-name-product="Protectores de Defensas")
                                img(loading="lazy" class="slider-catalogue-index__img" src="./galery/images/400/categories/defensas.webp", alt="")
                                div(class="slider-catalogue-index__description")
                                    h4.slider-catalogue-index__name-product Protectores de Defensas
                                    a(class="slider-catalogue-index__button my-slider__event-none") Ver
                            div(class="slider-catalogue-index__slide my-slider__slide" data-name-product="Sabanas")
                                img(loading="lazy" class="slider-catalogue-index__img" src="./galery/images/400/categories/sabanas.webp", alt="")
                                div(class="slider-catalogue-index__description")
                                    h4.slider-catalogue-index__name-product Sabanas
                                    a(class="slider-catalogue-index__button my-slider__event-none") Ver
                            div(class="slider-catalogue-index__slide my-slider__slide" data-name-product="Cascos")
                                img(loading="lazy" class="slider-catalogue-index__img" src="./galery/images/400/categories/cascos.webp", alt="")
                                div(class="slider-catalogue-index__description")
                                    h4.slider-catalogue-index__name-product Cascos
                                    a(class="slider-catalogue-index__button my-slider__event-none") Ver
                            div(class="slider-catalogue-index__slide my-slider__slide" data-name-product="llantas")
                                img(loading="lazy" class="slider-catalogue-index__img" src="./galery/images/400/categories/llantas.webp", alt="")
                                div(class="slider-catalogue-index__description")
                                    h4.slider-catalogue-index__name-product Llantas
                                    a(class="slider-catalogue-index__button my-slider__event-none") Ver
                            div(class="slider-catalogue-index__slide my-slider__slide" data-name-product="resinas")
                                img(loading="lazy" class="slider-catalogue-index__img" src="./galery/images/400/categories/resinas.webp", alt="")
                                div(class="slider-catalogue-index__description")
                                    h4.slider-catalogue-index__name-product Resinas
                                    a(class="slider-catalogue-index__button my-slider__event-none") Ver
                            div(class="slider-catalogue-index__slide my-slider__slide" data-name-product="calcomanias")
                                img(loading="lazy" class="slider-catalogue-index__img" src="./galery/images/400/categories/calcomanias.webp", alt="")
                                div(class="slider-catalogue-index__description")
                                    h4.slider-catalogue-index__name-product Calcomanias
                                    a(class="slider-catalogue-index__button my-slider__event-none") Ver
                            div(class="slider-catalogue-index__slide my-slider__slide" data-name-product="Forros")
                                img(loading="lazy" class="slider-catalogue-index__img" src="./galery/images/400/categories/forros.webp", alt="")
                                div(class="slider-catalogue-index__description")
                                    h4.slider-catalogue-index__name-product Forros
                                    a(class="slider-catalogue-index__button my-slider__event-none") Ver
                            div(class="slider-catalogue-index__slide my-slider__slide" data-name-product="Asientos")
                                img(loading="lazy" class="slider-catalogue-index__img" src="./galery/images/400/categories/asientos.webp", alt="")
                                div(class="slider-catalogue-index__description")
                                    h4.slider-catalogue-index__name-product Asientos
                                    a(class="slider-catalogue-index__button my-slider__event-none") Ver
                            div(class="slider-catalogue-index__slide my-slider__slide" data-name-product="Protectores de Defensas")
                                img(loading="lazy" class="slider-catalogue-index__img" src="./galery/images/400/categories/defensas.webp", alt="")
                                div(class="slider-catalogue-index__description")
                                    h4.slider-catalogue-index__name-product Protectores de Defensas
                                    a(class="slider-catalogue-index__button my-slider__event-none") Ver
                            div(class="slider-catalogue-index__slide my-slider__slide" data-name-product="Sabanas")
                                img(loading="lazy" class="slider-catalogue-index__img" src="./galery/images/400/categories/sabanas.webp", alt="")
                                div(class="slider-catalogue-index__description")
                                    h4.slider-catalogue-index__name-product Sabanas
                                    a(class="slider-catalogue-index__button my-slider__event-none") Ver
                            div(class="slider-catalogue-index__slide my-slider__slide" data-name-product="Cascos")
                                img(loading="lazy" class="slider-catalogue-index__img" src="./galery/images/400/categories/cascos.webp", alt="")
                                div(class="slider-catalogue-index__description")
                                    h4.slider-catalogue-index__name-product Cascos
                                    a(class="slider-catalogue-index__button my-slider__event-none") Ver
                            div(class="slider-catalogue-index__slide my-slider__slide" data-name-product="llantas")
                                img(loading="lazy" class="slider-catalogue-index__img" src="./galery/images/400/categories/llantas.webp", alt="")
                                div(class="slider-catalogue-index__description")
                                    h4.slider-catalogue-index__name-product Llantas
                                    a(class="slider-catalogue-index__button my-slider__event-none") Ver
                            div(class="slider-catalogue-index__slide my-slider__slide" data-name-product="resinas")
                                img(loading="lazy" class="slider-catalogue-index__img" src="./galery/images/400/categories/resinas.webp", alt="")
                                div(class="slider-catalogue-index__description")
                                    h4.slider-catalogue-index__name-product Resinas
                                    a(class="slider-catalogue-index__button my-slider__event-none") Ver
                            div(class="slider-catalogue-index__slide my-slider__slide" data-name-product="calcomanias")
                                img(loading="lazy" class="slider-catalogue-index__img" src="./galery/images/400/categories/calcomanias.webp", alt="")
                                div(class="slider-catalogue-index__description")
                                    h4.slider-catalogue-index__name-product Calcomanias
                                    a(class="slider-catalogue-index__button my-slider__event-none") Ver
                            

                            
                           

                    .slider-catalogue-index__buttons
                        .slider-catalogue-index__navegation.my-slider__navegation
                            .my-slider__navegation-button.my-slider__navegation-button--back
                            .my-slider__navegation-button.my-slider__navegation-button--next 
                        button.mybtn Ver Catalogo
        .vector-curve.vector-curve--mirror
            <svg class="vector-curve__svg" preserveAspectRatio="none" viewBox="0 0 1366 308" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0 41.2667L0 307.35H1366V41.2668C1183.14 144.069 944.309 206.304 683 206.304C421.691 206.304 182.857 144.069 0 41.2667Z" fill="#2C2C2C"/>
            </svg>

    







