extends ./templates/template.pug
block head
    link(rel="stylesheet" type="text/css" href="https://unpkg.com/swiper@7/swiper-bundle.min.css")
block header
    .header-index
        .slider-header.container
            .slider-header__container.swiper.swiper-header
                .slider-header__content.swiper-wrapper
                    .slider-header__slide.swiper-slide 
                        .slider-header__tittle-container
                            h2.slider-header__tittle.h1 Asiento DT Personalizado
                        .slider-header__img-container
                            img(class="slider-header__img" src="galery/images/slider-header__img1.jpg", alt="alt")
                        .slider-header__button-container
                                buttom(class="button-slider button mybtn") Un vistazo
                    .slider-header__slide.swiper-slide 
                        .slider-header__tittle-container
                            h2.slider-header__tittle.h1 Asiento DT Personalizado
                        .slider-header__img-container
                            img(class="slider-header__img" src="galery/images/slider-header__img1.jpg", alt="alt")
                        .slider-header__button-container
                                buttom(class="button-slider button mybtn") Un vistazo
                    .slider-header__slide.swiper-slide
                    .slider-header__slide.swiper-slide
                    .slider-header__slide.swiper-slide
                    .slider-header__slide.swiper-slide
                .slider-header__swiper-pagination.swiper-pagination
        .vector
                <svg class="vector__svg" preserveAspectRatio="none" viewBox="0 0 1366 308" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 41.2667L0 307.35H1366V41.2668C1183.14 144.069 944.309 206.304 683 206.304C421.691 206.304 182.857 144.069 0 41.2667Z" fill="#2C2C2C"/>
                </svg>

            
   
    


block main
    section.index-catalog.seccion
        .index-catalog__background
            .index-catalog__container.container
                .index-catalog__products-container
                    .index-catalog__products-pictures
                        .index-catalog__product-picture
                        .index-catalog__product-picture
                        .index-catalog__product-picture
                        .index-catalog__product-picture
                    .index-catalog__products-list-container
                        h1.index-catalog__tittle.h2 Catálogo
                        ul.index-catalog__products-list
                            li.index-catalog__product-list product
                            li.index-catalog__product-list product
                            li.index-catalog__product-list product
                            li.index-catalog__product-list product
                            li.index-catalog__product-list product
                            li.index-catalog__product-list product
                            li.index-catalog__product-list product
                            li.index-catalog__product-list product
                            li.index-catalog__product-list product
                            li.index-catalog__product-list product
                            li.index-catalog__product-list product
                            li.index-catalog__product-list product
                            li.index-catalog__product-list product
                            li.index-catalog__product-list product
                            li.index-catalog__product-list product
                            li.index-catalog__product-list product
                            li.index-catalog__product-list product
                            li.index-catalog__product-list product
                            li.index-catalog__product-list product
                            li.index-catalog__product-list product
                            li.index-catalog__product-list product
                            li.index-catalog__product-list product
                            li.index-catalog__product-list product
                            li.index-catalog__product-list product
                            li.index-catalog__product-list product
                            li.index-catalog__product-list product
                            li.index-catalog__product-list product
                            li.index-catalog__product-list product
                            li.index-catalog__product-list product
                        a(class="index-catalog__button-desktop mybtn") Ver el catálogo
                a(class="index-catalog__button mybtn") Ver el catálogo
        .vector-rotate-horizontally
            <svg class="vector-rotate-horizontally__svg" preserveAspectRatio="none" viewBox="0 0 1366 308" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0 41.2667L0 307.35H1366V41.2668C1183.14 144.069 944.309 206.304 683 206.304C421.691 206.304 182.857 144.069 0 41.2667Z" fill="#2C2C2C"/>
            </svg>
    section.functionalities-and-contact-us-container.container.seccion
        .index-contact-us
            span(class="index-contact-us__icon material-icons-round") person
            p.index-contact-us__paragraph Hay alguien esperandote
            a.index-contact-us__button.mybtn Contactanos
        .functionalities
            h1.functionalities__tittle.h1 ¡Espera! Esto puede interesarte
            .functionalities__cards
                .functionalities__functionality
                    p.functionalities__paragraph Conoce nuestros productos y precios
                    a.functionalities__button.mybtn.mybtn--ghost Catalogo
                .functionalities__functionality
                    p.functionalities__paragraph Haz seguimientos del estado de tu pedido
                    a.functionalities__button.mybtn.mybtn--ghost Pedido
                .functionalities__functionality
                    p.functionalities__paragraph Revisa tu factura, quizas te falte algo
                    a.functionalities__button.mybtn.mybtn--ghost Carrito
    section.index-search.container.seccion 
        h1.index-search__tittle.h1 ¿Estás buscando algo?
        p.index-search__paragraph Prueba con palabras con nombres de productos
        .search-bar
            input(class="search-bar__input" type="search" name="search-bar" placeholder="Estoy buscando...")
            a(href="#" class="search-bar__button")
                span(class="material-icons-round search-bar__button-icon"   ) search
    section.slider-index-main.seccion
        .slider-index-main__container.container
            .swiper.swiper-index-main
                .slider-index-main__content.swiper-wrapper
                    .slider-index-main__slide.swiper-slide
                        h2.slider-index-main__tittle.h1 Sabanas en impresión
                        a(href="#" class="slider-index-main__button mybtn mybtn--ghost") Ver más
                    .slider-index-main__slide.swiper-slide
                        h2.slider-index-main__tittle.h1 Resinas para todo tanque
                        a(href="#" class="slider-index-main__button mybtn mybtn--ghost") Ver más
                    .slider-index-main__slide.swiper-slide
                        h2.slider-index-main__tittle.h1 Sabanas en impresión
                        a(href="#" class="slider-index-main__button mybtn mybtn--ghost") Ver más
                    .slider-index-main__slide.swiper-slide
                        h2.slider-index-main__tittle.h1 Forros personalizado
                        a(href="#" class="slider-index-main__button mybtn mybtn--ghost") Ver más
                //- .slider-index-main__swiper-arrow-prev.slider-index-main__swiper-arrow.swiper-button-prev
                .slider-index-main__swiper-pagination.swiper-pagination 
    section.about-us.seccion.container
        h1.about-us__tittle.h1 Sobre nosotros
        .about-us__content
            .about-us__company
                .about-us__logo
                    .about-us__isotipo-container
                        <svg class="about-us__isotipo"><use href="galery/logos/logo.svg#isotipo"/></svg>
                    .about-us__logotipo-container
                        <svg class="about-us__logotipo"><use href="galery/logos/logo.svg#logotipo"/></svg>
                p.about-us__description.about-us__paragraph Somos una empresa con mas de 20 años ofreciendo accesorios para motos. Actualmente nos puedes encontrar como almacen y fabrica
            .about-us__venues
                .about-us__factory-venue.about-us__venue
                    h2.h2.about-us__venue-tittle Fabrica
                    p.about-us__paragraph.about-us__venue-paragraph Fabricamos accesorios como asientos, espumas, forros, protectores, resinas, calcomanias y vendemos al por mayor
                .about-us__store-venue.about-us__venue
                    h2.h2.about-us__venue-tittle Almacen
                    p.about-us__paragraph.about-us__venue-paragraph Vendemos repuestos y todo tipo de accesorios y lujos para motos
        a.about-us__button.mybtn Más información sobre nosotros
    section.visit-us.seccion.container
        h1.h1.visit-us__tittle Visitanos
        .visit-us__venues
            .visit-us__venue.visit-us__venue-factory 
                img(class="visit-us__venue-img" src="galery/images/fabrica.jpg", alt="alt")
                h2.h2.visit-us__venue-tittle Fabrica
                p.visit-us__venue-paragraph Sector la badea, al lado de Hierros HB
                address
                    .visit-us__venue-address Cl. 9 #7a44
                <iframe class="visit-us__venue-map"src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3975.6941353888024!2d-75.69335118568624!3d4.82248594193339!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e38874aac3edef5%3A0xb32a312cf02146c9!2sCl.%209%20%237-195%2C%20Dosquebradas%2C%20Risaralda!5e0!3m2!1ses!2sco!4v1634488958161!5m2!1ses!2sco" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            .visit-us__venue.visit-us__venue-store 
                img(class="visit-us__venue-img" src="galery/images/almacen.jpg", alt="alt")
                h2.h2.visit-us__venue-tittle Almacen
                p.visit-us__venue-paragraph Diagonal a la estación Ferrocarril
                address
                    .visit-us__venue-address Cl. 11 #1214
                <iframe class="visit-us__venue-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3975.7610057430365!2d-75.69069158568627!3d4.811049742031533!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3887385b877ab1%3A0xb69ee0f1d89356e5!2sJulio%20Forros!5e0!3m2!1ses!2sco!4v1634495072750!5m2!1ses!2sco"  style="border:0;" allowfullscreen="" loading="lazy"></iframe>




    script(src="https://unpkg.com/swiper@7/swiper-bundle.min.js") 
    







