extends ./templates/template.pug
block head
    link(rel="stylesheet" type="text/css" href="https://unpkg.com/swiper@7/swiper-bundle.min.css")
block header
    .header-index
        .slider-header
            .slider-header__container.swiper.swiper-header
                .slider-header__content.swiper-wrapper
                    .slider-header__slide.swiper-slide 
                        .slider-header__tittle-container
                            h3.slider-header__tittle.h1 Asiento DT Personalizado
                        .slider-header__img-container
                            img(class="slider-header__img" src="galery/images/slider-header__img1.jpg", alt="alt")
                        .slider-header__button-container
                                buttom(class="button-slider button mybtn") Un vistazo
                    .slider-header__slide.swiper-slide Slide 2
                    .slider-header__slide.swiper-slide Slide 3
                    .slider-header__slide.swiper-slide Slide 4
                    .slider-header__slide.swiper-slide Slide 5
                .swiper-pagination 
        .vector
                <svg class="vector__svg" preserveAspectRatio="none" viewBox="0 0 1366 308" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 41.2667L0 307.35H1366V41.2668C1183.14 144.069 944.309 206.304 683 206.304C421.691 206.304 182.857 144.069 0 41.2667Z" fill="#4F4F4F"/>
                </svg>

            
   
    


block main
    h1.h1 Esto es Titulo
    p.p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    a.mybtn Ver mas
    script(src="https://unpkg.com/swiper@7/swiper-bundle.min.js") 
    







