
// TODO: BOTONES
.display-none{
    display: none;
}
.visibility-hidden{
    visibility: hidden;
}

.mybtn {
    font-size: 1rem;
    font-family: 'roboto', arial;
    background-color: $color1;
    line-height: 2.25em;
    display: inline-block;
    padding: 0 1.125em;
    color: #fff;
    text-decoration: none;
    text-align: center;
    border-radius: 1.125rem;
    outline:none;
    cursor: pointer;
    transition: background-color 0.5s linear;

    &:hover {
        background-color: $color1-hover;
    }

    &:active {
        transition: transform .5s;
        transform: scale(.95);
        background-color: $color1-active;

    }
    &:focus {
        outline: 1px solid $color1;
    }
}


.mybtn--ghost {
    background-color: transparent;
    color: $color2;
    border: 1px solid $color2;

    &:hover {
        background: $color2;
        color: #fff;
    }
}


// TODO: Animated Borders

.animated-border {
    &:after {
        content: "";
        margin-top: 3px;
        display: block;
        transform: translateX(100%);
        width: 0%;
        height: 3px;
        background: $color1;
        border-radius: 3px;
        transition: width .5s, transform .5s ;
    }
    
    &:hover:after {
        width: 100%;
        transform: translateX(0);
    }
}

.animated-border--left {
    &::after{
        transform: translateX(0);
    }
}
.animated-border--center {
    &::after{
        position: relative;
        width: 0;
        transform: translateX(0);
        left: 50%;
        transition: left .5s , width .5s;
    }
    &:hover::after{
        left: 0;
        width: 100%;
    }
}


.borde-animado-doble {
    // padding: .5rem 0;

    &:before {
        content: '';
        display: block;
        position: absolute;
        top: -2px;
        width: 100%;
        background-color: transparent;
        height: 2px;
        transition: all 0.5s ease-in-out;
    }

    &:after {
        content: '';
        display: block;
        position: absolute;
        top: 100%;
        left: 0px;
        width: 0%;
        background-color: transparent;
        height: 2px;
        transition: all 0.5s ease-in-out;
    }

    &:hover {
        text-decoration: none;
        color: $color2;

        &:before {
            width: 0%;
            background: #fff;
        }

        &:after {
            width: 100%;
            background: #fff;
        }
    }
}

// TODO: ESTILOS HEADER

// <div class="wave">
// <svg viewBox="0 0 500 150" preserveAspectRatio="none"
//     style="height: 100%; width: 100%;">
//     <path d="M0.00,49.99 C150.00,150.00 349.20,-49.99 500.00,49.99 L500.00,150.00 L0.00,150.00 Z"
//         style="stroke: none; fill: #fff;"></path>
// </svg>
// </div>

// TODO: IMAGENES

.img-responsive {
    max-width: 100%;
}

// TODO: HAMBURGUER
// <div class="contenedor-hamburguer" id="contenedor-hamburguer">
    // <div class="hamburguer"></div>
// </div>
$width: 30px;
$height: 5px;
.contenedor-hamburguer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    min-height: 60px;
    min-width: 60px;
    .hamburguer{
        display: flex;
        justify-content: center;
        align-items: center;    
        width: $width;
        height: $height;
        border-radius: $height * 0.5;
        position: relative;
        background-color: #000;
        transition: background-color 0.5s ease-in, transform 1s;
        &:before, &:after{
            content: " ";
            position: absolute;
            display: block;
            width: $width;
            height: $height;
            border-radius: $height * 0.5;
            background-color: #000;
            top: -0.6rem;
            transition: background-color 0.5s ease-in, transform 0.3s;

        }
        &:after{
            top: 0.6rem;
        }
    }

    .hamburguer-simple{
        height: 0;
        &:before, &:after{
            top: 0;
            transform: rotate(-45deg);
        }
        &:after{
            transform: rotate(45deg);

        }
    }
    .hamburguer-left-arrow{
        &:before, &:after{
            transform: rotate(-35deg);
            width: $width;
            top: -.5em;
            left: -.1em;
        }
        &:after{
            transform: rotate(35deg);
            top: .5em;
            left: -.1em;

        }

    }
    .hamburguer-right-arrow{
        &:before, &:after{
            transform: rotate(35deg);
            width: $width;
            top: -.5em;
            right: -.1em;
        }
        &:after{
            transform: rotate(-35deg);
            top: .5em;
            right: -.1em;

        }

    }
    .hamburguer-compress{
        &:before, &:after{
            top: 0;
            transition: top .5s;
        }
    }
    .hamburguer-right-arrow{
        transform: rotate(90deg);

        &:before, &:after{
            transform: rotate(-90deg);
            top: -.5em;
        }
        &:after{
            height: 0;
        }

    }




}
.contenedor-hamburguer-scroll {
    background-color: #fff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, .5);
}

.contenedor-hamburguer-active {
    background: none;
    box-shadow: none;
}
