// TODO:ANCHOR --- COLORS

.body {
    // * Primary
    --color-primary-100: #EF927B;
    --color-primary-200: #ED8065;
    --color-primary-300: #EA6E4F;
    --color-primary-400: #E85C39;
    --color-primary-500: #E54A23;
    --color-primary-600: #D43F19;
    --color-primary-700: #BD3816;
    --color-primary-800: #A53114;
    --color-primary-900: #8E2A11;

    // * Secundary
    --color-secondary-100: #FE9D85;
    --color-secondary-200: #FE8C70;
    --color-secondary-300: #FD7C5C;
    --color-secondary-400: #FD6B47;
    --color-secondary-500: #FD5B33;
    --color-secondary-600: #FD4315;
    --color-secondary-700: #F13202;
    --color-secondary-800: #D32B02;
    --color-secondary-900: #B52502; 

    // * Neutral
    --color-neutral-100: #959595;
    --color-neutral-200: #848484;
    --color-neutral-300: #727272;
    --color-neutral-400: #616161;
    --color-neutral-500: #4F4F4F;
    --color-neutral-600: #474747;
    --color-neutral-700: #3F3F3F;
    --color-neutral-800: #373737;
    --color-neutral-900: #2F2F2F;


    --color-background: #FEFEFE;
    --color-white-500: #FEFEFE;
    --color-white-600: #EEEEEE;
    --color-white-700: #DEDEDE;

    --color-text: #020202;

    // * Project
    // ? elements that change color according to mode
    --color-buttons-navegation: #FEFEFE;
    --color-icons: #4F4F4F;
    --color-logo: #2F2F2F;
    --color-search-bar: #FEFEFE;

}
.dark-mode {
    // * Secundary
    --color-primary-100: #EF9C86;
    --color-primary-200: #ED8C72;
    --color-primary-300: #EA7B5E;
    --color-primary-400: #E86B4A;
    --color-primary-500: #E55A36;
    --color-primary-600: #E2461D;
    --color-primary-700: #C83E1A;
    --color-primary-800: #AF3617;
    --color-primary-900: #962E13; 


    // * Neutral
    --color-neutral-100: #365671;
    --color-neutral-200: #32516A;
    --color-neutral-300: #2F4B63;
    --color-neutral-400: #2B465B;
    --color-neutral-500: #284054;
    --color-neutral-600: #243B4D;
    --color-neutral-700: #213546;
    --color-neutral-800: #1D303E;
    --color-neutral-900: #1A2A37;
    
    --color-background: #16222C;
    --color-text: #FEFEFE;

    // * Project
    // ? elements that change color according to mode
    --color-buttons-navegation: #1A2A37;
    --color-icons: #DEDEDE;
    --color-logo: #FEFEFE;
    --color-search-bar: #1A2A37;    
}


// TODO:ANCHOR --- ICONS

@font-face {
    font-family: 'material-icons-round';
    font-style: normal;
    font-weight: 400;
    // src: url(https://miweb.com/MaterialIcons-Regular.eot);
    // /* For IE6-8 */
    src: local('Material Icons'),
        local('MaterialIcons-Regular'),
        url(../galery/fonts/MaterialIconsRound-Regular.otf) format('truetype');
}

.material-icons-round {
    font-family: 'material-icons-round';
    line-height: 1;
    font-size: 24px;
    user-select: none;
}

//  TODO:ANCHOR --- TEXTS

// * Paragraph
@font-face {
    font-family: 'p';
    src: local('Poppins'), local('Poppins-Regular'), url(../galery/fonts/Poppins-Regular.ttf) format('truetype');
}

// * Paragraph SemiBold
@font-face {
    font-family: 'p-semibold';
    src: local('PoppinsSemiBold'), local('Poppins-SemiBold'), url(../galery/fonts/Poppins-SemiBold.ttf) format('truetype');
}

// * Tittle
@font-face {
    font-family: 'tittle';
    src: local('RobotoBlack'), local('Roboto-Black'), url(../galery/fonts/Roboto-Black.ttf) format('truetype');
}

// * Button
@font-face {
    font-family: 'button';
    // font-display: optional;
    src: local('Roboto'), local('Roboto-Medium'), url(../galery/fonts/Roboto-Medium.ttf) format('truetype');
}


//  TODO:ANCHOR --- SPACES

:root{
    --space-1: 48px;
    --space-2: 40px;
    --space-3: 32px;
    --space-4: 28px;
    --space-5: 24px;
    --space-6: 16px;
    --space-7: 8px;

    @include min-width(768px) {
        --space-1: 68px;
        --space-2: 56px;
        --space-3: 44px;
        --space-4: 40px;
        --space-5: 36px;
        --space-6: 22px;
        --space-7: 12px;
    }
}





