// TODO:ANCHOR --- COLORS

.body {
    // * Primary
    --color-primary-100: #3D688E;
    --color-primary-200: #365C7D;
    --color-primary-300: #2E4F6B;
    --color-primary-400: #264259;
    --color-primary-500: #1F3548;
    --color-primary-600: #1A2D3D;
    --color-primary-700: #152532;
    --color-primary-800: #111D27;
    --color-primary-900: #0C151D;

    // * Secondary
    --color-secondary-100: #FDCABE;
    --color-secondary-200: #FCAD9C;
    --color-secondary-300: #FC9179;
    --color-secondary-400: #FB7456;
    --color-secondary-500: #FA5833;
    --color-secondary-600: #F93B10;
    --color-secondary-700: #E02E06;
    --color-secondary-800: #BD2705;
    --color-secondary-900: #9A1F04; 
    
    // * Tertiary
    --color-tertiary-100: #FDCABE;
    --color-tertiary-200: #FCAD9C;
    --color-tertiary-300: #FC9179;
    --color-tertiary-400: #FB7456;
    --color-tertiary-500: #FA5833;
    --color-tertiary-600: #F93B10;
    --color-tertiary-700: #E02E06;
    --color-tertiary-800: #BD2705;
    --color-tertiary-900: #9A1F04; 

    --color-secondary: var(--color-secondary-700);
    --color-secondary-hover: var(--color-secondary-800);
    --color-secondary-pressed: var(--color-secondary-900);
    --color-tertiary: var(--color-tertiary-700);
    --color-tertiary-hover: var(--color-tertiary-800);
    --color-tertiary-pressed: var(--color-tertiary-900);
    --color-tertiary: var(--color-tertiary-700);
    --color-white: #fff;
    --color-background: #fff;
    --color-icons: var(--color-primary-500);
    --color--text: var(--color-primary-900);
    --color-search-bar: var(--color-background);
    --color-footer: var(--color-primary-800)

}
.dark-mode {
    // * Secundary
    --color-primary-100: #EF9C86;
    --color-primary-200: #ED8C72;
    --color-primary-300: #EA7B5E;
    --color-primary-400: #E86B4A;
    --color-primary-500: #E55A36;
    --color-primary-600: #E2461D;
    --color-primary-700: #C83E1A;
    --color-primary-800: #AF3617;
    --color-primary-900: #962E13; 


    // * Neutral
    --color-neutral-100: #365671;
    --color-neutral-200: #32516A;
    --color-neutral-300: #2F4B63;
    --color-neutral-400: #2B465B;
    --color-neutral-500: #284054;
    --color-neutral-600: #243B4D;
    --color-neutral-700: #213546;
    --color-neutral-800: #1D303E;
    --color-neutral-900: #1A2A37;
    
    --color-background: #16222C;
    --color-text: #FEFEFE;

    // * Project
    // ? elements that change color according to mode
    --color-buttons-navegation: #1A2A37;
    --color-icons: #DEDEDE;
    --color-logo: #FEFEFE;
    --color-search-bar: #1A2A37;    
}


// TODO:ANCHOR --- ICONS

@font-face {
    font-family: 'material-icons-round';
    font-style: normal;
    font-weight: 400;
    // src: url(https://miweb.com/MaterialIcons-Regular.eot);
    // /* For IE6-8 */
    src: local('Material Icons'),
        local('MaterialIcons-Regular'),
        url(../galery/fonts/MaterialIconsRound-Regular.otf) format('truetype');
}

.material-icons-round {
    font-family: 'material-icons-round';
    line-height: 1;
    font-size: 24px;
    user-select: none;
}

.pseudo-icon {
    font-family: "material-icons-round";
    vertical-align: middle;
    margin-right: 4px;
    font-size: 24px;
    color: inherit;
}

//  TODO:ANCHOR --- TEXTS

// * Paragraph
@font-face {
    font-family: 'p';
    src: local('Poppins'), local('Poppins-Regular'), url(../galery/fonts/Poppins-Regular.ttf) format('truetype');
}

// * Paragraph SemiBold
@font-face {
    font-family: 'p-semibold';
    src: local('PoppinsSemiBold'), local('Poppins-SemiBold'), url(../galery/fonts/Poppins-SemiBold.ttf) format('truetype');
}

// * Tittle
@font-face {
    font-family: 'tittle';
    src: local('RobotoBlack'), local('Roboto-Black'), url(../galery/fonts/Roboto-Black.ttf) format('truetype');
}

// * Button
@font-face {
    font-family: 'button';
    // font-display: optional;
    src: local('Roboto'), local('Roboto-Medium'), url(../galery/fonts/Roboto-Medium.ttf) format('truetype');
}


//  TODO:ANCHOR --- SPACES

:root{
    --space-1: 48px;
    --space-2: 40px;
    --space-3: 32px;
    --space-4: 28px;
    --space-5: 24px;
    --space-6: 16px;
    --space-7: 8px;

    @include min-width(768px) {
        --space-1: 68px;
        --space-2: 56px;
        --space-3: 44px;
        --space-4: 40px;
        --space-5: 36px;
        --space-6: 22px;
        --space-7: 12px;
    }
}


//  TODO:ANCHOR --- border radius

.border-radius {
    border-radius: 8px;
}


//  TODO:ANCHOR --- SHADOWS

.border-shadow {
    box-shadow: 0 0 10px rgba(0, 0, 0, .25);
}

.border-shadow-left {
    box-shadow: -4px 4px 10px rgba(0, 0, 0, .25);
}


//  TODO:ANCHOR --- BORDERS

.border-left {
    border-left: 4px solid var(--color-neutral-900);
}



