// * COLORES

.body {
    --color-primary: #FD5B33;
    --color-primary-hover: #FF3F10;
    --color-primary-active: #FF3300;
    --color-primary-disable: #F37A5C;
    --color-secundary: #E54A23;
    --color-primary-light: #f37a5ccc;
    --color-background: #FEFEFE;
    --color-white: #FEFEFE;
    --color-text: #020202;
    --color-navbar-icons: #4F4F4F;
    --color-footer-icons: #FEFEFE;
    --color-light-neutral: #4F4F4F;
    --color-dark-neutral: #2C2C2C;
    --color-logo: #444;
    --color-header-vector: #2C2C2C;
    --color-search-bar: #FEFEFE;
    
}




$navbar-header-heihgt: 3.5rem;

.dark-mode {
    --color-secundary: #E55A36;
    --color-background: #16222C;
    --color-dark-neutral: #1A2A37;
    --color-text: #FEFEFE;
    --color-logo: #FEFEFE;
    --color-header-vector: #1A2A37;
    --color-navbar-icons: #a8a8a8;
    --color-search-bar: #1A2A37;
    --color-light-neutral: #a9bccc;

}



:root {
    --scroll-bar: 0px;
    --width-100vw: calc(100vw - var(--scroll-bar));
    --space-1: 48px;
    --space-2: 40px;
    --space-3: 32px;
    --space-4: 28px;
    --space-5: 24px;
    --space-6: 16px;
    --space-7: 8px;

    @include min-width(768px) {
        --space-1: 68px;
        --space-2: 56px;
        --space-3: 44px;
        --space-4: 40px;
        --space-5: 36px;
        --space-6: 22px;
        --space-7: 12px;
    }
}


// * FUENTES