// * COLORES
$color1: #F1623F;
$color1-hover: #EE3F14;
$color1-active: #E33A11;
$color1-disable: #F37A5C;
$color2: #E54A23;
$background: #FEFEFE;
$white: #F2F2F2;
$text: #020202;
$icon-nabvar: #4F4F4F;
$dark-gray: #2C2C2C;
$ligth-gray: #4F4F4F;
$icons-navbar-header: #4F4F4F;
$color-footer-icons: #FEFEFE;
$logo-color: #444;

*{
    --scroll-bar: 0px;
    --width-100vw: calc(100vw - var(--scroll-bar))
    --navbar-header__button-text-1: 0;
    --navbar-header__button-text-2: 0;
    --navbar-header__button-text-3: 0;
}

.logotipo{
    fill: green;
}

:root{
    --space-1: 48px;
    --space-2: 40px;
    --space-3: 32px;
    --space-4: 28px;
    --space-5: 24px;
    --space-6: 16px;
    --space-7: 8px;
    @include min-width(768px){
        --space-1: 68px;
        --space-2: 56px;
        --space-3: 44px;
        --space-4: 40px;
        --space-5: 36px;
        --space-6: 22px;
        --space-7: 12px;
    }
}


// * FUENTES
