// * COLORES
$color1: #F1623F;
$color1-hover: #EE3F14;
$color1-active: #E33A11;
$color1-disable: #F37A5C;
$color2: #E54A23;
$background: #FEFEFE;
$white: #F2F2F2;
$text: #020202;
$icon-nabvar: #4F4F4F;
$light-grey: #2C2C2C;
$dark-gray: #4F4F4F;
$icons-navbar-header: #4F4F4F;
$color-footer-icons: #FEFEFE;

*{
    --scroll-bar: 0px;
    --width-100vw: calc(100vw - var(--scroll-bar))
    --navbar-header__button-text-1: 0;
    --navbar-header__button-text-2: 0;
    --navbar-header__button-text-3: 0;
}

.logotipo{
    fill: green;
}


// * FUENTES
